body{
    background-image: url("./assets/close-up-minimalist-honeycomb-background-design_23-2148386679.jpg");
    background-repeat: repeat;
    background-size: cover;
    letter-spacing: 0.2em;
}
.style1{
    opacity: 0;
}
    
    

