.container {
  /* border-radius: 10px; */
  max-width: 400px;
  border-radius: 21px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.transaction {
  margin-top: 10px;
  max-width: 400px;
}
.link {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logout {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.delete{
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.date{
  padding-top: 20px;
  padding-left: 20px;
  
}